{{range $Enum := .EnumDefinitions}}
// Defines values for {{$Enum.TypeName}}.
module {{$Enum.TypeName}} {
{{range $name, $value := $Enum.GetValues}}
  const {{$name}} : {{$Enum.TypeName}} = {{$Enum.ValueWrapper}}{{$value}}{{$Enum.ValueWrapper}}
{{end}}
}
{{end}}
