{{range .}}{{$opid := .OperationId}}
{{range .TypeDefinitions}}
{{- if .Schema.Properties }}
// {{.TypeName}} defines parameters for {{$opid}}.
type {{.TypeName}} {{mintRecordFromSchema .Schema.Properties}}

{{- end }}
{{end}}
{{end}}
