{{range .}}{{$opid := .OperationId}}
{{range .Bodies}}
{{if .IsSupported -}}
{{$contentType := .ContentType -}}
{{with .TypeDef $opid}}
{{if not .IsAlias}}
// {{.TypeName}} defines body for {{$opid}} for {{$contentType}} ContentType.
type {{.TypeName}} {{.Schema.TypeDecl}}

{{end}}
{{end}}
{{end}}
{{end}}
{{end}}
// APIError represents errors that can occur during API calls
type APIError {
  HttpError(Http.ErrorResponse)
  JsonParseError
  DecodeError(Object.Error)
}
