{{range .Types}}
{{- if .Schema.Properties }}
{{- if .Schema.Description }}
// {{ .Schema.Description }}
{{- else }}
// {{.TypeName}} defines model for {{.JsonName}}.
{{- end }}
type {{.TypeName}} {{mintRecordFromSchema .Schema.Properties}}

{{- end }}
{{end}}
